.git
.gitattributes
.github
.gitignore
.env
.env.*
node_modules
vendor
tests
storage/logs
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*.php
